<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drawing Battle</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>
<body  bgcolor="#E6E6FA">

    <canvas id="drawCanvas" width="490" height="220" style="border:1px solid #000000;"></canvas>

    <script type="text/javascript" src="../static/frontend.js"></script>


    <div id="chat"><div>
</body>
</html>